#intro-dialog {
    width: 60vh;
    max-width: 92.5%;
    box-sizing: border-box;
    border: solid 2px black;
    background-color: yellow;
    padding: 2px;
    border-radius: 0.5em;
    margin: auto;

    & main {
        position: relative;
        padding: 2em;
        border: solid 2px black;
        background-color: white;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;

        & figure.logo {
            margin-bottom: 0.5em;
        }
    }

    & a {
        color: black;
    }

    & form {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
}

#intro-dialog::backdrop {
    background-color: black;
    opacity: 0.66;
}

#close-intro {
    position: absolute;
    top: 1em;
    right: 1em;
}


body.opened #intro-dialog {
    transform: translateY(-20%);
}
@media only screen and (min-width: 1100px) {
    body.opened #intro-dialog {
        transform: translateX(-30%);
    }
}